[build]
  builder = "nixpacks"

[[services]]
name = "backend"
source = ["backend/"]

[[services.ports]]
port = 8000
forceHttps = true

[[services]]
name = "web"
source = ["web/"]

[[services.ports]]
port = 3000
forceHttps = true