# railway.toml — FINAL WORKING VERSION (Dec 2025)

# ← NO [build] section at all
# ← NO builder = "RAILPACK" anywhere
[project]
name = "Neighboride"


[[services]]
  name = "backend"
  rootDirectory = "./backend"
  dockerfilePath = "Dockerfile"
  envVars = ["PORT=8001",
             "REDIS_URL={{ redis.REDISPRIVATEURL }}",
             "DATABASE_URL={{ postgres.DATABASE_URL }}"
            ]
  #startCommand = "uvicorn app.main:app --host 0.0.0.0 --port ${PORT:-8001}"

[[services]]
  name = "web"
  rootDirectory = "./web"
  dockerfilePath = "Dockerfile"
   envVars = [ "VITE_API_URL={{ backend.PUBLIC_URL }}"
            ]
  #startCommand = "npm run start"

[[services]]
  name = "db"
  type = "postgres:15"

[[services]]
  name = "redis"
  type = "redis:7-alpine"
